*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




/* shared styles */


/* font family */
.noto-serif{
      font-family: "Noto Serif";
}

.inter{
      font-family: "Inter";
}

/* color  */
:root{
    --primary-color: #E95A08; 
    --seccolor: #000;
    --dark-color:#00000080;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
  
.display-flex{
display: flex;
}



/* navbar styles */
.navbar{
align-items: center;
justify-content: space-between;

}

.nav-links{
align-items: center;
justify-content: space-between;
gap: 30px;
font-weight: 400;
}

.nav-list{
list-style: none;

}

.link{
text-decoration: none;
}

.home{
    color: #000;
    font-weight: 700;
}
.cart-style a{
text-decoration: none;
list-style: none;
color: #000;
}

.cart-style{
    list-style: none;
    
}

.dark{
    color: #00000080;
}



/* banner section styles */
.banner{
margin-top: 70px;
align-items:last baseline ;
}


.special{
    color: var(--primary-color);
}

.banner-title{
color: var(--seccolor);
font-size: 4rem;
font-weight: 700;
}

.banner-description{
color: var(--dark-color);
font-size: 1.3rem;
font-weight: 400;
}

/* main section styles */
/* our plants section styles */

.main > section{
    margin-top: 70px;
}
.our-plants-section{
    text-align: center;
}

.plants-title{
font-size: 3.1rem;
font-weight: 700;

}
.plants-description{
color: var(--dark-color);
font-weight: 400;
}


/* cart styles */
.cart{
margin-top: 50px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
}
.cart-content{
text-align: center;
}

.cart-title{
font-size: 1.3rem;
font-weight: 500;
color: var(--seccolor);
}

.cart-price{
font-size: 1.3rem;
font-weight: 700;
color: var(--seccolor);
}

.btn-cart{
padding: 26px 50px;
color: #fff;
font-size: 600;
width: 100%;
text-align: center;
background-color: var(--primary-color);
border: none;
margin-top: 12px;
transition: background-color 0.4s ease-in-out;
}

.btn-cart:hover{
    background-color: #6f05face;
    cursor: pointer;
}



/* Flower & Plants Lover section */
.wrapper-flowers-plants{
justify-content: center;
gap: 50px;
flex-grow: 1;
position: relative;
margin-top: 170px;
}

.wrapper-flowers-plants img{
width: 100%;
height: 597px;

}

.flower-content{
 margin-top: 35px;
 /* width: 45%; */

}

.flower-title{
font-size: 3.1rem;
font-weight: 700;
color: var(--seccolor);
margin-left: 7px;
margin-bottom: 10px;
}

.flower-description{
display: grid;
 grid-template-rows: repeat(3, 1fr);
 gap: 70px;
 font-size: 1.3rem;
font-weight: 400;
color: var(--dark-color);
margin-left: 35px;

}


.trusted-badge{
position: absolute;
top: 205%;
left: 18%;
transform: translateX(150%) translateY(200%);
}

.trusted-badge img{
    width: 250px;
    height: 250px;
}





/* media quires for mobiles */
@media screen and (max-width:576px) {
    body{
        margin: 0 auto;
    }
    
   .nav-list{
 visibility: hidden;
   }
   .cart-style{
       visibility: visible; 
    
}


.banner{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}

.banner-content{
    text-align: left;
    width: 100%;
}
.banner-profile img{
    width: 100%;
}



/* cart */
.cart-content{
    text-align: center;
    width: 100%;
}

.cart{
    grid-template-columns: repeat(2, 1fr);

}
 .cart-content img{
    width: 100%;
 }

 /* flowers plants */
.wrapper-flowers-plants{
flex-direction: column;
margin-top: 20px;
}

.flower-content{
margin-top: 20px;
}
.flower-description{
 grid-template-columns: repeat(1, 1fr);
 width: 100%;
 gap: 30px;
}

.trusted-badge{
    visibility: hidden;
}

}
